/* https://coolors.co/d7dedc-cfcfcd-9a879d-7a3b69-563440 */
/* https://coolors.co/eeeeff-7f7caf-9fb4c7-28587b-9fb798 */

body {
  background-color: #f4f4f4;
  font-family: Roboto;
  font-size: 12px;
}

#header {
  border-bottom: 1px solid #a08080;
  margin-bottom: 20px;
}

#headercontents {
  padding: 10px 20px;
}

#footer {
  border-top: 1px solid #a08080;
  margin-top: 20px;
  padding-top: 20px;
  height: 50px;
}

.title {
  font-family: 'Press Start 2P', cursive;
  font-weight: bold;
  font-size: 20px;
}

.titlesmall {
  font-family: 'Press Start 2P', cursive;
  font-weight: normal;
  font-size: 14px;
}

.controls {
  position: fixed;
  bottom: 48px;
  right: 24px;
/*  height: 100px; */
}

.errormsg {
  color: red;
  font-family: Varela Round;
  font-size: 12px;
}

.pending {
  color: blue;
}

.logo {
  height: 20px;
}

#userinfo {
  height: 100%;
  padding: 10px;
  float: right;
}

#logout {
  height: 100%; 
  float: right;
}

#login {
  height: 100%; 
  float: right;
}

#about {
  height: 100%; 
  float: right;
}

.circled {
  border-radius: 50%;
  border: 8px solid #f00000;
  text-align: center;
  height: 100%;
}

#heading {
  color: #80a0ff;
  font-family: Baloo Da;
  font-size: 24px;
  padding: 0px;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}

#logcollapse {
  margin-top: 20px;
}

.welcome {
  color: #f0f0f0;
  font-family: Varela Round;
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}

#smallts {
  height: 24px;
  padding: 8px;
  font: 12px Varela Round;
  font-weight: bold;
  color: #f08080;
}

.action {
  margin: 10px;
  display: inline-block;
  color: black;
  border: 3px solid black;
  border-radius: 50%;
  height: 60px;
  line-height: 60px;
  width: 60px;
  font-size: 50px;
  font-family: Roboto;
  text-align: center;
}

#log {
  margin-top: 20px;
}

.log-line {
  font-family: Roboto;
  font-size: 12px;
  color: #808080;
}

.log-line-entry {
  padding-left: 10px;
  vertical-align: middle;
}

.log-line-date {
}

.log-line-name {
  padding-left: 10px;
}

.log-line-text {
  padding-left: 10px;
/*  float: right; */
}

#striplist {
  padding-top: 10px;
}

.strip-line {
  margin-top: 10px;
  justify-content: space-between;
}

.strip-card {
  width: 90%;
}

/* Editor UI */
#editor {
  width: 80%;
}

#red, #green, #blue, #editorSpeedSlider, #editorBrightnessSlider, #editorColorChangeSlider, #editorNumPixelsSlider {
  width: 80%;
  margin: 15px;
}
#swatch {
  width: 20%;
  height: 30px;
  margin-top: 10px;
  margin-left: 40%;
  background-image: none;
}
#red .ui-slider-range { background: #ef2929; }
#red .ui-slider-handle { border-color: #ef2929; }
#green .ui-slider-range { background: #8ae234; }
#green .ui-slider-handle { border-color: #8ae234; }
#blue .ui-slider-range { background: #729fcf; }
#blue .ui-slider-handle { border-color: #729fcf; }
